<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Products</title>
</head>
<body>
    <h1 style="text-align: center;margin-top: 30px;color: blueviolet;">Products list</h1>
    <div class="container mt-5">
        <div class="row">
            <% products.forEach(p=>{ %>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="data:<%= p.thumbnail.contentType %>;base64,<%= p.thumbnail.data %>" width="70">
                        <div class="d-flex flex-column ml-2"><span><%=p.name%></span><span class="text-black-50"><%=p.category%></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6><%=p.discription%></h6>
                    <div class="d-flex justify-content-between install mt-3"><span>$<%=p.price%>/1 item</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            <% }) %>
        </div>
        <a style="margin-top: 30px;background-color: #04AA6D;" class="btn btn-primary" href="/product_form">Thêm sản phẩm </a>
    </div>
</body>
</html>